[Unit]
Description=XDHS Bot
After=network.target

[Service]
Type=simple
User=xdhs_bot
Group=xdhs_bot
WorkingDirectory=/opt/XDHS_Bot/
ExecStart=/opt/XDHS_Bot/xdhs_bot
StandardOutput=syslog
Restart=always
RestartSec=1
StartLimitIntervalSec=0

[Install]
WantedBy=default.target
